{% extends "nrw-layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Renew current permission certificate</h1>

        <div class="app-card">
            <div class="app-card__header">
                <h2 class="app-card__title">#0001289345</h2>
            </div>
        
            <div class="app-card__content">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Name
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Jo Andrews
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Type of permission
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Collect moss
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Location
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <a href="#">Coed Nercwys Forest</a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            From
                        </dt>
                        <dd class="govuk-summary-list__value">
                            18 December 2021
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            To
                        </dt>
                        <dd class="govuk-summary-list__value">
                            18 December 2022
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <form action="">
            <!-- changing details -->
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        <h2 class="govuk-fieldset__heading">
                            Do you need to change any details?
                        </h2>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="update-details" name="update-details" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="update-details">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="update-details-2" name="update-details" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="update-details-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- uploading docs -->
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        <h2 class="govuk-fieldset__heading">
                            Do you need to upload new documents?
                        </h2>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="upload-documents" name="upload-documents" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="upload-documents">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="upload-documents-2" name="upload-documents" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="upload-documents-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <a href="/en/permissions/certificate/pay" class="govuk-button">Continue</a>
        </form>
    </div>
</div>
{% endblock %}