{% extends "nrw-layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
      <h1 class="govuk-heading-xl">Apply for permission to use our land</h1>

      <p class="govuk-body">Use this service to apply for permission do something on our land, such as:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>organising an event</li>
        <li>filming</li>
        <li>school visits</li>
        <li>training</li>
        <li>doing a survey</li>
      </ul>

      <p class="gpvuk-body">If you're not sure whether you need to apply for permission or not, you should <a href="/en/permissions/check/start_check" class="govuk-link">Check if you're allowed to use our land</a> before you use this service.</p>

      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="gpvuk-body">You'll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>to know the location of the land you want to use</li>
        <li>to know when you want to use the land</li>
        <li>to know how many people will attend</li>
        <li>digital copies of your insurance certificates (if required)</li>
      </ul>

      <a href="/edge" class="govuk-button">Start now</a>

    </div>
</div>
{% endblock %}
