{% extends "nrw-layout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="how-many-people">
            Please enter your permission certificate code
            </label>
          </h1>
          <input class="govuk-input govuk-input--width-5" id="how-many-people" name="how-many-people" type="text">
      </div>
  
      <a href="/en/permissions/renew/certificate" class="govuk-button">Continue</a>
    
    </div>
  </div>

{% endblock %}