{% extends "nrw-layout.html" %}

{% block content %}
<h1 class="govuk-heading-xl">Using our land</h1>

<p class="govuk-body">You might need to apply for permission to use our land for things like:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>walking your dog</li>
    <li>riding a horse</li>
    <li>organising an event</li>
    <li>filming or taking photographs</li>
    <li>school visits</li>
    <li>training</li>
    <li>doing a survey</li>
</ul>

<p class="govuk-body">You can use our services to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li><a href="/en/permissions/check/start_check" class="govuk-link">Check if you’re allowed to use our land</a></li>
    <li><a href="/en/permissions/find_certificate" class="govuk-link">Renew a permission you’ve had before</a></li>
    <li><a href="#" class="govuk-link">Apply for permission to use our land</a></li>
</ul>

{% endblock %}