{% extends "layout_unbranded.html" %}

{% block content %}
<div id="iphone">
  <div id="proximitySensor"></div>
  <div id="speaker"></div>
  <div id="power" class="button"></div>  
  <div id="mute" class="button"></div>
  <div id="volUp" class="button"></div>  
  <div id="volDown" class="button"></div>  
  <div id="screen">
    <div class="app-reminder-text">
        <p class="govuk-body">Hello Jo,</p>

        <p class="govuk-body">
            Your permission to collect moss in Coed Nercwys Forest ends on 18 December 2022. To renew it, tap this link:
            <a href="/en/permissions/certificate/certificate" class="govuk-link">https://naturalresourceswales/certificate/0001289345</a>
        </p>

        <p class="govuk-body">Thank you,</p>

        <p class="govuk-body">NRW Permissions Team</p>
    </div>
  </div>
  <div id="homeButton">
    <div id="innerRing"></div>  
  </div>  
</div>
{% endblock %}