// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

@import "reskin/reskin";

@import "vendor/accessible-autocomplete";
@import "vendor/iphone";
@import "vendor/qr-code";

@import "components/card";

.app-map-select {
    display: block;
    max-width: 300px;
    margin-bottom: $govuk-gutter;
}

.app-reminder-text {
    padding: 10px;
    overflow-wrap: break-word;
}

.nrw-prototype-banner {
  margin: 5px 0;
  border-bottom: 1px solid var(--nrw-dark-green);
}

.nrw-tag {
  --tag-background: var(--nrw-dark-green);
  --tag-colour: #fff;
  display: inline-block;
  padding: 5px 8px;
  background: var(--tag-background);
  color: var(--tag-colour);
}

.nrw-tag__text {
  padding-left: 5px;

  @include mq($from: tablet) {
    padding-left: 10px;
  }
}
