{% extends "nrw-layout.html" %}


{% block beforeContent %}
<a href="/en/permissions/check/start_check" class="govuk-back-link">
  Back
  <span class="govuk-visually-hidden"> to Check if you’re allowed to use our land start page</span>
</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">What do you want to do?</h1>

  <form action="/en/permissions/check/are_you_charging" class="govuk-form">
      <div class="govuk-form-group">
        <div id="changed-name-hint" class="govuk-hint">
          For example horse riding, dog walking
        </div>
        <select class="govuk-select" id="activity" name="activity">
          <option value=""></option>
          <option value="horse-riding">Horse riding</option>
          <option value="archery">Archery</option>
          <option value="organising-an-event">Organising an event</option>
          <option value="fishing">Fishing</option>
          <option value="foraging">Foraging</option>
          <option value="collecting-seaweed">Collecting seaweed</option>
          <option value="filming">Filming</option>
          <option value="weddings">Weddings</option>
          <option value="school-visits">School visits</option>
          <option value="training">Training</option>
          <option value="doing-a-survey">Doing a survey</option>
          <option value="other">Other</option>
          <option value="dog-walking">Dog walking</option>
          <option value="walking">Walking</option>
          <option value="trail-hunting">Trail hunting</option>
          <option value="quad-biking">Quad biking</option>
        </select>
      </div>

    <button href="/en/permissions/check/are_you_charging" class="govuk-button">Continue</button>
  </form>
  
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/vendor/accessible-autocomplete.min.js"></script>
<script>
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#activity')
  })
</script>
{% endblock %}