{% extends "layout_unbranded.html" %}

{% block content %}
<h1 class="govuk-heading-l">Choose site</h1>

<div class="govuk-form-group">
    <label class="govuk-label" for="subject">
      Choose location
    </label>
    <div id="subject-hint" class="govuk-hint">
      This can be different to where you went before
    </div>
    <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
      <option value="choose" selected>Choose location</option>
      <option value="eastmidlands">East Midlands</option>
      <option value="eastofengland">East of England</option>
      <option value="london">London</option>
      <option value="northeast">North East</option>
      <option value="northwest">North West</option>
      <option value="southeast">South East</option>
      <option value="southwest">South West</option>
      <option value="westmidlands">West Midlands</option>
      <option value="yorkshire">Yorkshire and the Humber</option>
    </select>
  </div>

<a href="/en/permissions/check/how_many_people" class="govuk-button">How many people?</a>


{% endblock %}