{% extends "nrw-layout.html" %}

{% block beforeContent %}
<a href="/en/permissions/check/are_you_charging" class="govuk-back-link">
  Back
  <span class="govuk-visually-hidden"> to Will you be charging or taking an income from what you’ll be doing?</span>
</a>
{% endblock %}

{% block content %}

<!--<div class="govuk-form-group">
    <label class="govuk-label" for="subject">
      Choose location
    </label>
    <div id="subject-hint" class="govuk-hint">
      This can be different to where you went before
    </div>
    <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
      <option value="choose" selected>Choose location</option>
      <option value="eastmidlands">East Midlands</option>
      <option value="eastofengland">East of England</option>
      <option value="london">London</option>
      <option value="northeast">North East</option>
      <option value="northwest">North West</option>
      <option value="southeast">South East</option>
      <option value="southwest">South West</option>
      <option value="westmidlands">West Midlands</option>
      <option value="yorkshire">Yorkshire and the Humber</option>
    </select>
  </div>-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Where do you want to do this?</h1>
    <form action="" method="post" novalidate>
      <div class="govuk-form-group">
        <label class="govuk-label" for="postcode">
          Enter the postcode
        </label>
        <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="grid-reference">
          Enter the grid reference
        </label>
        <input class="govuk-input govuk-input--width-10" id="grid-reference" name="grid-reference" type="text">
      </div>

      <h5 class="govuk-heading-xs">Draw area on a map</h5>
      <img src="/public/images/map.png" alt="">
    </form>
  </div>
</div>

<a href="/en/permissions/check/how_many_people" class="govuk-button">Continue</a>


{% endblock %}