{% extends "nrw-layout.html" %}

{% block content %}
<h1 class="govuk-heading-l">You don't need to ask permission</h1>

You do not need to apply for permission to do this on this land.

<h2>restrictions or disruptions</h2>

<ul>path at the Red Walk is closed at the moment</ul>
<ul>sheep are lambing at the moment, dogs must be kept on leads</ul>
<ul>trees are being felled, diversions are in place</ul>

<h2>Fishing</h2>
<p>You don’t need to apply for permission to fish, but you do need to <a href="https://naturalresourceswales.gov.uk/permits-and-permissions/buy-a-fishing-rod-licence/?lang=en">buy a fishing rod licence.</a></p>
{% endblock %}