{% extends "nrw-layout.html" %}

{% block content %}
<h1 class="govuk-heading-l">You don't need to ask permission</h1>

<p class="govuk-body">You do not need to apply for permission to do this on this land.</p>

<h2 class="govuk-heading-m">Restrictions or disruptions</h2>

<ul class="govuk-list govuk-list--bullet">
    <li>path at the Red Walk is closed at the moment</li>
    <li>sheep are lambing at the moment, dogs must be kept on leads</li>
    <li>trees are being felled, diversions are in place</li>
</ul>

<!--<h2>Fishing</h2>
<p>You don’t need to apply for permission to fish, but you do need to <a href="https://naturalresourceswales.gov.uk/permits-and-permissions/buy-a-fishing-rod-licence/?lang=en">buy a fishing rod licence.</a></p>-->
{% endblock %}