{% extends "nrw-layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">You don't need to ask permission</h1>

        <p class="govuk-body">You do not need to apply for permission to do this on this land.</p>

        <div class="app-card">
            <div class="app-card__header">
                <h2 class="app-card__title">Restrictions or disruptions</h2>
            </div>

            <div class="app-card__content">
                <ul class="govuk-list govuk-list--bullet">
                    <li>path at the Red Walk is closed at the moment</li>
                    <li>sheep are lambing at the moment, dogs must be kept on leads</li>
                    <li>trees are being felled, diversions are in place</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!--<h2>Fishing</h2>
<p>You don’t need to apply for permission to fish, but you do need to <a href="https://naturalresourceswales.gov.uk/permits-and-permissions/buy-a-fishing-rod-licence/?lang=en">buy a fishing rod licence.</a></p>-->
{% endblock %}