{% extends "nrw-layout.html" %}


{% block beforeContent %}
<a href="/en/permissions/check/how_many_people" class="govuk-back-link">
  Back
  <span class="govuk-visually-hidden"> to How many people will be attending?</span>
</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="govuk-heading-l">Check your answers</h1>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What do you want to do?
              </dt>
              <dd class="govuk-summary-list__value">
                walking
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/en/permissions/check/choose_activity">
                  Change<span class="govuk-visually-hidden">                </span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Will you be charging or taking an income from what you’ll be doing?
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/en/permissions/check/are_you_charging">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Choose site
              </dt>
              <dd class="govuk-summary-list__value">
                Local woods
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/en/permissions/check/choose_site">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How many people?
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">one person</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/en/permissions/check/how_many_people">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a>
              </dd>
            </div>
          </dl>
          
          <a href="/en/permissions/check/no_permission" class="govuk-button">Continue</a>
          </form>
        </div>
      </div>
    </main>
  </div>




{% endblock %}