
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        NRW Permissions Prototype app
      </h1>
      <p>
        A set of prototypes for a reimagined "Permission to use NRW land" services.
      </p>

      <h2 class="govuk-heading-m">Entry points</h2>

      <ul class="govuk-list">
        <li><a href="/en/common-language">Common language</a></li>
        <li><a href="/en/permissions/guide">Guide page</a></li>
        <li><a href="/en/permissions/check/start_check">Check if you’re allowed to use our land</a></li>
        <li><a href="/en/permissions/renew/reminder">A reminder to renew permission</a></li>
        <li><a href="/en/permissions/find_certificate">Find a permission certificate</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />

      <h2 class="govuk-heading-m">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at <code>'/app/views/index.html'</code>.</p>

      <p>You can change the service name by editing the file <code>'/app/config.js'</code>.</p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/examples">Example pages</a>
        </li>
        <li>
          <a href="/docs/tutorials-and-examples">Tutorials and templates</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
